.link {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.link:hover {
  transform: scale(1.1);
}

.activeLink {
  color: brown;
}

.nav {
  display: block;
  background: darkkhaki;
  border: 1px solid brown;
  border-radius: 5px;
}
