.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px 5px 0px;
}

.item {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: calc((100% - 80px) / 4);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  min-width: 218px;
  max-width: 219px;
  border-radius: 5px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  background: darkgray;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 13px 0px black;
}

.link:hover {
  color: black;
  background: darkslategray;
  transform: scale(0.98);
  transition: all 0.3s linear;
}

.box {
  display: block;
  min-width: 170px;
}

.img {
  display: block;
  height: 250px;
  margin: 10px;
}
