.list {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.item {
  list-style: none;
  margin-right: 15px;
  margin-bottom: 5px;
}

.link {
  /* max-width: 1000px; */
  display: flex;
  align-items: center;
  margin-right: 5px;
  background: darkgray;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 1px 13px 0px black;
}

.link:hover {
  color: black;
  background: darkslategray;
  transform: scale(0.98);
  transition: all 0.3s linear;
}

.img {
  display: block;
  height: 100px;
  margin: 10px;
}
